._3k0uOgdSRfNa0MZs6QS7ku {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._3k0uOgdSRfNa0MZs6QS7ku ._1G63502GZaEXBXykcWz6cX {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  font-size: 25px;
  padding-left: 20px;
}
._3k0uOgdSRfNa0MZs6QS7ku ._3HRY5_KLp8kngNq9437Zqi {
  display: none;
  padding-right: 20px;
}

@media only screen and (max-width: 600px) {
  ._3HRY5_KLp8kngNq9437Zqi {
    display: block !important;
  }
}
.Z_a6ax5LrTSVASNRR2aN6 {
  width: 100%;
  position: fixed;
  top: 65px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  font-size: 13px;
  color: #202124;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px 8px;
}
.Z_a6ax5LrTSVASNRR2aN6::-webkit-scrollbar {
  width: 8px;
}
.Z_a6ax5LrTSVASNRR2aN6::-webkit-scrollbar-track {
  background: #fff;
}
.Z_a6ax5LrTSVASNRR2aN6::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 2px solid transparent;
}
.Z_a6ax5LrTSVASNRR2aN6 ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.Z_a6ax5LrTSVASNRR2aN6 a {
  color: #202124;
  min-width: 24px;
}
.Z_a6ax5LrTSVASNRR2aN6 a:hover {
  color: #1a73e8;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF ::selection {
  background: transparent;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF ._15sI_H5F3ci3xYIfWDB4vZ {
  display: flex;
  min-height: 24px;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 8px);
  cursor: pointer;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF ._15sI_H5F3ci3xYIfWDB4vZ:hover {
  border-radius: 0 12px 12px 0;
  background: #f1f3f4;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF ._15sI_H5F3ci3xYIfWDB4vZ._2nlZm6KFp6CmYe6H9305Me {
  color: var(--devsite-nav-color-active, var(--devsite-link-color-active, var(--devsite-link-color)));
  font-weight: var(--devsite-nav-font-weight-active, 500);
  border-radius: 0 12px 12px 0;
  background: #e8f0fe;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF > ul {
  display: none;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF > ._15sI_H5F3ci3xYIfWDB4vZ i {
  transform: rotate(-90deg);
  transition: all ease-in-out 0.35s;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF._1lO9qEBu6kafjPHlc111Kf > ul {
  display: block;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF._1lO9qEBu6kafjPHlc111Kf > ._15sI_H5F3ci3xYIfWDB4vZ i {
  transform: rotate(0);
  font-size: 18px;
}
.Z_a6ax5LrTSVASNRR2aN6 ._3quX88R9lR5BSdfAKHIoaF._1lO9qEBu6kafjPHlc111Kf > ._15sI_H5F3ci3xYIfWDB4vZ i:after {
  font-size: 18px;
}
._3a4jt6lr4yLRJnQge009wv {
  width: 268px;
  position: fixed;
  top: 89px;
  left: calc(50vw + 49vw / 2 + 24px);
  font-size: 13px;
  color: #202124;
  border-left: 5px solid #039be5;
  line-height: 24px;
  box-sizing: border-box;
  max-height: 80vh;
  overflow: auto;
}
._3a4jt6lr4yLRJnQge009wv::-webkit-scrollbar {
  width: 8px;
}
._3a4jt6lr4yLRJnQge009wv::-webkit-scrollbar-track {
  background: #fff;
}
._3a4jt6lr4yLRJnQge009wv::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 2px solid transparent;
}
._3a4jt6lr4yLRJnQge009wv ul {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
}
._3a4jt6lr4yLRJnQge009wv a {
  color: #202124;
  text-decoration: none;
}
._3a4jt6lr4yLRJnQge009wv a:hover {
  color: #1a73e8;
}
._3a4jt6lr4yLRJnQge009wv li._3AcS4LqNlExKjtylGnGGLV > div > div a {
  color: var(--devsite-nav-color-active, var(--devsite-link-color-active, var(--devsite-link-color)));
  font-weight: var(--devsite-nav-font-weight-active, 500);
}
._3a4jt6lr4yLRJnQge009wv .pr9M2Qxu3rP9KbtpZMUZy ._3BS2IRzowIlPVoY1ThvbNb {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  ._3a4jt6lr4yLRJnQge009wv {
    display: none;
  }
}
.rWpFqfkPbEcRx8xnnjlEm {
  font-size: 16px;
  padding: 1% 2% 2% 2%;
  width: 49vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #fff;
  padding: 40px;
  margin: 89px auto 24px auto;
  box-sizing: border-box;
  color: #202124;
  min-height: calc(100vh - 48px - 65px);
}
.rWpFqfkPbEcRx8xnnjlEm pre:not([class^=language-]) {
  margin: 0 -40px;
  background: #f1f3f4;
  padding: 24px;
  overflow: auto;
}
.rWpFqfkPbEcRx8xnnjlEm pre:not([class^=language-]) code {
  font-family: Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  background: #f1f3f4;
  color: #37474f;
}
.rWpFqfkPbEcRx8xnnjlEm pre[class*=language-] {
  margin: 0 -40px;
}
.rWpFqfkPbEcRx8xnnjlEm pre code {
  padding: 0;
}
.rWpFqfkPbEcRx8xnnjlEm img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e8eaed;
  padding: 3px;
  max-width: 100%;
}
.rWpFqfkPbEcRx8xnnjlEm hr {
  color: LightGrey;
}
.rWpFqfkPbEcRx8xnnjlEm p._3hJ7NiIGXXJ-8FzYOQ2w4p {
  color: #aa4433;
  font-size: 14px;
}
.rWpFqfkPbEcRx8xnnjlEm table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px 0 15px;
  width: 100%;
  font-size: 14px;
}
.rWpFqfkPbEcRx8xnnjlEm table th,
.rWpFqfkPbEcRx8xnnjlEm table th code {
  background: #e8eaed;
  color: #202124;
  border: 0;
  margin: 0;
  text-align: left;
}
.rWpFqfkPbEcRx8xnnjlEm table td,
.rWpFqfkPbEcRx8xnnjlEm table th {
  padding: 7px 8px 8px;
}
.rWpFqfkPbEcRx8xnnjlEm table tr:first-child {
  border-top: 1px solid #dadce0;
}
.rWpFqfkPbEcRx8xnnjlEm table tr {
  border: 0;
  border-bottom: 1px solid #dadce0;
}
.rWpFqfkPbEcRx8xnnjlEm h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  line-height: 1.1;
}

._1UY_ItV2UTWKutKs5b7NKg {
  text-align: center;
  padding: 10px 0;
}

._11dH37BK8JkWofQgbOzM4L {
  width: 15vw;
}

@media only screen and (max-width: 600px) {
  .rWpFqfkPbEcRx8xnnjlEm {
    width: 90vw;
  }

  ._11dH37BK8JkWofQgbOzM4L {
    display: none;
  }
}

/*# sourceMappingURL=post.css.map*/