body {
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei,
    "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
}

header {
  background: #4285f4;
}

.date {
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #0a50c2;
}

pre {
  background: #f8f8f8 !important;
}

main {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
}
